<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<meta charset="ISO-8859-1">
<title>Kitablar</title>
<style >
table,th,td{ 
border:1px solid white;}
#books-table{border-collapse:collapse;width:100%;}
th{padding:5px;background-color:blue;}
td{padding:5px;background-color:tomato;color:white;}
td:hover{color:blue;cursor:pointer;}
#username{display: inline-block;padding: 5px;font-size:22px;font-weight: bold;margin:0;}
.book-image{width:40px;}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<script>
$(document).ready(function() {
$('#books-table').DataTable();
});
</script>
</head>
<body>
<div class="container-fluid">
<div th:replace="menu::menu"> </div>
<a class="btn btn-success" th:href="@{/books/new}">Yeni kitab</a>
<a class="btn btn-primary" th:href="@{/home}">Əsas səhifə</a>
<span id="username" th:text="${username}"></span>
<div style="height:5px;"></div>
<table id="books-table">
<thead>
<tr>
<th>ID</th>
<th>Ad</th>
<th>Təsvir</th>
<th>Qiymət</th>
<th>Müəllif</th>
<th>Səhifə sayı</th>
<th>Şəkil</th>
<th>"Əməliyyat "</th>
</tr>
</thead>
<tbody>
<tr th:each="book :${books}">
<td th:text=${book.id}></td>
<td th:text=${book.name}></td>
<td th:text=${book.description}></td>
<td th:text=${book.price}></td>
<td th:text=${book.author}></td>
<td th:text=${book.pageCount}></td>


<td><img class="book-image"
th:src="@{'/files/'+${book.image}}"/></td>



<td ><a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-danger"
th:onclick="if((!confirm('Kitabı silməyə əminsiz?')))return false" >Sil</a>
<a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary">Redaktə</a></td>
</tr>
</tbody>
</table>
 </div>



</body>
</html>