<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<meta charset="ISO-8859-1">
<title>Ana Səhifə</title>
</head>
<body>
<div th:replace="menu::menu"> </div>
<div class="container">
<h1>Kitab Alış-verişi saytımıza xoş gəlmisiniz</h1>
<a th:if="${username}" class="btn btn-primary" th:href="@{/books}">Kitabların siyahısı</a>
<a class="btn btn-warning" th:href="@{/customer}">Kitab Alış-verişinə başla</a>
<a th:if="${username}" class="btn btn-success" th:href="@{/orders}">Sifarişlər</a>
<a th:if="${username}" class="btn btn-danger" th:href="@{/logout}">Çıxış</a>
<a th:unless="${username}" class="btn btn-success" th:href="@{/show-login}">Giriş</a>
 </div>


</body>
</html>